.vscode/*
*.exe
*.out
*.json
*.[ao]
*.gch
*/main
*/build
*/**/build
*/*.output
chp19/hw/tlb.out
chp19/hw/new/tlb.out
chp19/hw/build/tlb
chp19/hw/main
chp14/hw/build/null
chp13/build/test
chp05/hw/build/hw05
chp05/hw/build/hw07
chp05/hw/build/hw06
chp05/hw/build/hw02
chp05/hw/build/hw04
chp05/hw/build/hw03
chp05/hw/build/hw08
chp05/build/p4
chp18/array
chp26/t0.out
chp06/hw/build/hw
